* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(226, 225, 225);
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
header button {
  padding: 0.2rem 2rem;
}

main {
  flex-grow: 1;
  display: flex;
}

article {
flex-grow: 1;

}

figure{
width: 160px;
border: 1px solid;
}

.div {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

aside {
  flex-grow: 1;
}
#tamanho {
  flex-grow: 2;
}
footer {
  height: 10vh;
}
.borda {
  border: 1px solid;
}

/* row: Itens são posicionados na mesma direção do texto.
row-reverse: Itens são posicionados na direção oposta à do texto.
column: Itens são posicionados de cima para baixo.
column-reverse: Itens são posicionados de baixo para cima. */
